<header><%= link_to "Drinks", "/drinks" %></<header>
<header><%= link_to "Bars", "/bars" %></<header>
<h1>Bars</h1>

<% @bars.each do |bar| %>
  <p><%= bar.name %></p>
  <p><%= bar.created_at %></p>
<% end %>
